 html , body{
  margin: 0px;
    height: 1024px;
    width: 100%;
   
}

* {
    font-family: myFirstFont ;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/brandon-grot/Brandon_reg.otf);
}

#Nav{
  width:100%;
  height: 50px; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(75,59,125);
}


#navbar{
  
  width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: Times 
    font-weight: bold;
    text-align: center;
    color: white;
    
}


#navbar ul, li{
    height: auto;
    min-height: 
    text-align: center;
    display: inline;
    padding-right: 15px;
  

}


#navbar li a{
  text-decoration: none;
    color: white;
  
}
 #menu{
  padding-bottom: 25px;
    padding-top: 15px;
    padding-right: 15px;
  float: right;
  position: relative; 
 }


 

 
.signup {
  width: 40%;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  background: white;
  max-width: 70%;
  margin: 0 auto 50px;
  padding: 1%;
  text-align: center;
  box-shadow: 50px 25px 25px black;
}
input {
  background: #f2f2f2;
  border: 0;
  margin: 15px 0;
  padding: 3%;
  box-sizing: border-box;
  font-size: 14px;
}
input:focus{
  color: white;
  background-color: rgba(75,59,125, .9);
}

#Prefixes{
  background: #f2f2f2;
  border: 0;
  margin: 15px 0;
  padding: 3%;
  box-sizing: border-box;
  font-size: 14px;
}

.left{
  width: 42%;
  margin-right: 2%;
}
.right{
 width: 42%;
}
button {
  text-transform: uppercase;
  outline: 0;
  background-color: rgb(75,59,125);
  width: 88%;
  border: 0;
  padding: 15px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 4% 0;
}

.message {
  margin: 15px 0 0;
  color: grey;
  font-size: 16px;
}
.message a {
  color: blue;
  text-decoration: none;
}
body {
  background-color: rgb(75,59,125);   
}
p {
  padding-bottom: 3%;
}