@font-face{
     font-family:'PT Sans Narrow';
     src:url('PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf');
}
@font-face{
     font-family:'Brandon Grotseque';
     src:url('Brandon_Grotseque/Brandon_bld_it.otf');
}
*{font-family:'PT Sans Narrow';text-shadow:0.5px 0.5px;}
html,body,p{margin:0;padding:0;}
.clear{clear:both;}
.container{
     margin-top:50px;
     background:transparent;
}
     .content-container{
          width:75%;
          min-width:575px;
          max-width:1400px;
          background:transparent;
          margin:auto;
          border:2px solid black;
          line-height:1.618;
     }
     /* Container left */
          .container-left{
               width:30%;
               float:left;
               min-height:1231px;
               background:rgba(96,81,145,1);
               color:#ddd;
               text-align:center;
          }
          .left{display:block;}
          .image-container{
               width:200px;
               height:200px;
               margin:auto;
               padding-top:20px;
               border-radius:100%;
          }
          .image-container img{
               max-width:100%;
               max-height:100%;
               min-width:100%;
               min-height:100%;
               
               border-radius:100%;
               background:white;
          }
          .about-me{
               padding:30px 0;
          }
          .about-me_head{
          }
          .about-me_text p{
            width:90%;
            margin:auto;
          }
          .perskills-container{
               min-height:250px;
          }
          .perskills_text ul{
               width:70%;
               margin:0 auto;
               padding:0;
               display:inline-block;
          }
          .perskills_text ul li{
               width:40%;
               float:left;
               list-style:none;
          }
          .contact-me{
          }
          .contact-me_head{
          }
          .contact-me_text{
          }
          .contact-me_text ul{
               min-height:200px;
               margin:0;
               padding:0;
               text-align:justify;
          }
          .contact-me_text ul li{
               width:100%;
               list-style:none;
          }
     /* Container right */
          .container-right{
               width:70%;
               float:left;
               background:transparent;
               min-height:1231px;
          }
          .right-content{
               min-height:1231px;
               padding:0 20px;
          }
          /*  Styling for the dropdown button */
               /* Dropdown Button */
               .dropbtn {
                background-color: rgb(136,159,34);
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
               }
               /* Dropdown button on hover & focus */
               .dropbtn:hover, .dropbtn:focus {
                  background-color: rgb(156,179,54);
               }
               /* The container <div> - needed to position the dropdown content */
               .dropdown {
                   position: relative;
                   display: inline-block;
                   float:right;
               }
               /* Dropdown Content (Hidden by Default) */
               .dropdown-content {
                   display: none;
                   position: absolute;
                   background-color: #f9f9f9;
                   min-width: 160px;
                   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                   z-index: 1;
               }
               /* Links inside the dropdown */
               .dropdown-content a {
                   color: black;
                   padding: 12px 16px;
                   text-decoration: none;
                   display: block;
               }
               /* Change color of dropdown links on hover */
               .dropdown-content a:hover {background-color: #f1f1f1}
               /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
               .show {display:block;}
          .section{min-height:200px;}
          .profile-header{
          }
          .profile_head h1{margin:0;}
          .profile_head h1:nth-child(1){font-size:64px;}
          .exp-cont,.edu-cont{
            min-height:100px;
          }
          .location{font-weight:800;font-size:18px;}
          .title_duration{font-size:16px;}
          .title{
               float:left;
               font-style:italic;
          }
          .duration{
               float:right;
               font-size:14px;
          }
          .desc{
               font-size:14px;
          }
          .desc p{
               padding:0 10px;
          }
          .profskill-list .list-container ul{
               list-style-type:disc;
          }
          .profskill-list .list-container ul li{
               /*float:left;
               width:33.3%;*/
          }